@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Krona+One&family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0px;
    padding: 5px;
    font-family:'Inter', sans-serif;
    color: yellow;
}

body {

    background-color: #051D3B; 
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo, .nav-bar, .profile {
    margin: 0px 50px;
}

#logo {
    width: 300px;
}

.logo__profile__picture {
    width: 150px;
    height: 100px;
    border-radius: 8px;
}

.input-text-navbar {
    background-color: #2D415A;
    color: rgb(205, 204, 204);
    width: 752px;
    height: 56px;
    border-radius: 5px;
    border: 1px solid #2D415A;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.right-content {
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.input-text-right-menu {
    background-color: #2D415A;
    color: white;
    width: 272px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #2D415A;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
 .project-bar {
    height: 40px;
 }

 .descripton-project-bar {
    height: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
 }

 #language {
    background-color: #2D415A;
    color: white;
    width: 284px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #2D415A;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
 }

p {
    display: inline-block;
    color: rgb(205, 204, 204);
    margin: 5px;
}

.highlight-button {
    background-color: #0c386e;
    text-align: 'center';
    padding: 20px;
}
.save-project-button {
    background-color: #2943a9;
    text-align: 'center';
    padding: 20px;
}

.editor-box {
    background-color: mediumaquamarine;
}

.content-text-box {
    background-color: black;
}

.box-icon {
    border-radius: 10px;
    background-color: #0c386e;
}
#language {
    color: rgb(205, 204, 204);;
    background-color: #2D415A
}
.editor-box-color-outside {
    width: 272px;
    height: 38px;
    border-radius: 5px;
    border: solid white 1px;
}
.editor-box-color-inside {
    background-color: aquamarine;
    width: 261px;
    margin: 2px 1px 0px 0px;
    height: 24px;
    border-radius: 5px;
}

.save-project-button {
    background-color: #5081FB;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    font-weight: 550;
}