@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Krona+One&family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family:'Inter', sans-serif;
    color: yellow;
}

body {
    background-color: #051D3B;
    margin: 0px 20px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 189px;
    width: 189px;
}

.logo__profile__picture {
    width: 284px;
    height: 150px;
    border-radius: 8px;
    width: 325px;
}

.input-text-navbar {
    background-color: #2D415A;
    color: rgb(205, 204, 204);
    width: 752px;
    height: 10px;
    padding: 32px;
    border-radius: 5px;
    border: 1px solid #2D415A;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.center-content__editor-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6BD1FF;
    width: 752px;
    height: 366px;
    padding: 32px;
    gap: 10px;
    border-radius: 8px;
}

.center-content__text-box {
    background-color: black;
    width: 688px;
    height: 302px;
    margin: auto;
    border-radius: 8px;
    padding: 16px;
    gap: 24px;
}

.highlight-button {
    background-color: #0c386e;
    text-align: 'center';
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    border: none;
    box-shadow: 1px 1px 3px  black;
}

.highlight-button:active {
    border: 1px solid black;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.menu {
    width: 189px;
    height: 200px;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 325px;
}

p{
    display: flex;
    align-items: center;
    color: white;
}

.box-icon{
    background-color: #0f4991;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 8px;
    padding: 5px;
}

.input-text-right-menu {
    background-color: #2D415A;
    color: white;
    width: 272px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #2D415A;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
 .project-bar {
    height: 40px;
 }

 .descripton-project-bar {
    height: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
 }

 #language {
    background-color: #2D415A;
    color: white;
    width: 284px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #2D415A;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
 }

.save-project-button {
    background-color: #2943a9;
    text-align: 'center';
    padding: 20px;
}

.editor-box-color-outside {
    width: 272px;
    height: 38px;
    border-radius: 5px;
    border: solid white 1px;
}
.editor-box-color-inside {
    background-color: aquamarine;
    width: 261px;
    margin: 2px 1px 0px 0px;
    height: 24px;
    border-radius: 5px;
}

.save-project-button {
    background-color: #5081FB;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    font-weight: 550;
}